aside {
  background-color: var(--color-background-dark-100);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 4px #1d1e21;
  border: 1px solid var(--color-border-grey-100);
}

.aside-note {
  background-color: #22584e;
}

.aside-note h4 {
  color: #62c1b0;
}

.aside-idea {
  background-color: #222a74;
}

.aside-idea h4 {
  color: #7298d9;
}

.aside-pitfall {
  background-color: #924600;
}

.aside-pitfall h4 {
  color: #df8a3c;
}

aside h4 {
  margin-left: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

aside h4 i {
  margin-right: 0.6rem;
}

aside p {
  margin-left: 1rem;
}
