pre code {
  border-radius: 1rem;
  box-shadow: 0 4px 4px #1d1e21;
  display: block;
  border: 1px solid var(--color-border-grey-100);
}

pre code.language-c {
  background-color: #121317;
}

code.tag-code-red {
  background: rgba(131, 129, 123, 0.194);
  color: #d63f3f;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 2px;
  font-weight: 300;
  font-size: 0.9rem;
  border-radius: 5px;
}

code.tag-code-white {
  background: #868686ab;
  color: #eaeaea;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 2px;
  font-weight: 300;
  font-size: 0.9rem;
  border-radius: 5px;
}
