.custom-navbar {
  background-color: #622c2d !important;
}

.navbar-logo {
  padding-left: 15px;
  height: auto;
  max-height: 50px;
}

.navbar-brand {
  color: white !important;
  font-size: 1.25rem;
}
