:root {
  --text-light-100: rgb(243, 243, 243);
  --text-light-200: rgb(169, 169, 169);
  --text-text-red-100: #ffbbbb;
  --color-background-dark: #373b45d7;
  --color-background-red: #622c2d;
}

.sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  width: 300px;
  height: 100vh;
  background-color: #23272f;
  border-radius: 8px;
  overflow-y: auto;
  padding-top: 1.2rem;
}

.title {
  color: var(--text-light-200);
  font-size: 0.9rem;
  font-weight: bold;
  padding-left: 1rem;
}

.nav-item {
  font-size: 0.8rem;
}

.sidebar .nav-link {
  font-weight: 500;
  color: var(--text-light-100);
  display: block;
  text-decoration: none;
  padding-left: 1.2rem;
  margin-right: 0.8rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar .nav-link:hover {
  background-color: var(--color-background-dark);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 1.2rem;
  margin-right: 0.8rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-link.active {
  background-color: var(--color-background-red);
  color: var(--text-text-red-100);
  padding-left: 1.2rem;
  margin-right: 0.8rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-link.active:hover {
  background-color: var(--color-background-red);
}
