@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-light-100: rgb(234, 234, 234);
  --text-light-200: #e3e3e3;
  --color-background-dark-400: #2a2e38;
  --color-background-dark-500: #1c1e21;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--color-background-dark-500);
  color: var(--text-light-100);
  margin-bottom: 4rem;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.container {
  max-width: 896px;
  width: 100%;
  margin: 0 auto;
}

/* Estilos para títulos,Subtítulos,Listas,Link e parágrafos */
h1 {
  color: var(--text-light-100);
}

h2 {
  color: var(--text-light-100);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p {
  color: var(--text-light-200);
  font-size: 1rem;
}

span.bold {
  font-weight: bold;
}

ul li {
  margin: 0.6rem;
}

ol li {
  margin: 0.5rem;
}

.link {
  color: #60c7de;
}

/* Estilo para o bloco aside no qual apresentamos exemplos e notas*/
aside {
  background-color: var(--color-background-dark-400);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 4px #1d1e21;
  border: 1px solid #3b3f48;
}

.aside-note {
  background-color: #22584e;
}

.aside-idea {
  background-color: #222a74;
}

.aside-capacity {
  background-color: darkslateblue;
}

aside h4 {
  margin-left: 1rem;
}

aside p {
  margin-left: 1rem;
}

/* Estilo para o bloco de exemplos de código em c*/
pre code {
  border-radius: 1rem;
  box-shadow: 0 4px 4px #1d1e21;
  display: block;
  border: 1px solid #3b3f48;
}

code.tag-code {
  background: rgba(135, 131, 120, .15);
  color: #d63f3f;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 2px;
  font-weight: 300;

}
/* Estilo de imagens*/
img {
  display: block;
  margin: 0 auto;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}
